:root {
  --font-family-navbar: "Anek Latin", sans-serif;
  --font-secondary: "Rubik Vinyl", sans-serif;
  --font-title-icon: "Iceland", sams-serif;
  --font-title-footer: "Tourney", serif;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #31363f;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: #24272e;
}

.images_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.img_titan_forge_studios,
.img_unity {
  border: 2px solid grey;
  border-radius: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e3e3;
  gap: 20px;
  list-style: none;
  font-family: var(--font-family-navbar);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.3px;
}

ul a {
  text-decoration: none;
  color: #e0e3e3;
}

a,
.lupa {
  cursor: url(../images/icon_finger.png), auto;
}

.a_subscribete {
  border-radius: 0.3rem;
  padding: 6px;
  background: rgb(211, 210, 210);
  color: #31363f;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: var(--font-secondary);
  color: rgb(185, 185, 185);
  padding: 40px 100px;
}

main h1 {
  letter-spacing: 3px;
}

.studio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

.cultura_trabajo {
  width: 600px;
}

main h3 {
  text-align: left;
  padding: 10px 0px;
  letter-spacing: 3px;
}

p,
.cultura-list {
  font-family: var(--font-family-navbar);
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;
  list-style-type: square;
}

.img_mech_piloto,
.img_titan_force {
  border-radius: 0.5rem;
  border: 1px solid rgb(113, 112, 112);
  width: 350px;
}

.objetivo_ventas {
  padding-bottom: 40px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #24272e;
  border-top: none;
  border-radius: 0.4rem;
  gap: 5px;
  padding: 17px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--font-title-icon);
}

.github a {
  font-size: 21px;
  text-decoration: none;
  color: rgb(195, 194, 194);
}

.created-by {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title-footer);
  font-size: 17px;
  font-weight: 550;
  gap: 10px;
  color: rgb(195, 194, 194);
}

.created-by i {
  font-size: 20px;
}

/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bruno+Ace+SC&family=Bungee+Shade&family=Cabin+Sketch:wght@400;700&family=Carter+One&family=Changa+One:ital@0;1&family=Chango&family=Coiny&family=Frijole&family=Julius+Sans+One&family=Major+Mono+Display&family=Monoton&family=Oxanium:wght@200..800&family=Pixelify+Sans:wght@400..700&family=Poiret+One&family=Rammetto+One&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+80s+Fade&family=Rubik+Burned&family=Rubik+Glitch&family=Rubik+Marker+Hatch&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Scribble&family=Rubik+Vinyl&family=Saira+Stencil+One&family=Sarala:wght@400;700&family=Share+Tech+Mono&family=Sixtyfour+Convergence&family=Stick&family=Supermercado+One&family=Tektur:wght@400..900&family=Tilt+Neon&family=Tilt+Prism&family=Tourney:ital,wght@0,100..900;1,100..900&family=Trade+Winds&family=Train+One&display=swap" rel="stylesheet">


 font-family: "Roboto", sans-serif;
  font-family: "Monoton", sans-serif;
  font-family: "Poiret One", sans-serif;
  font-family: "Oxanium", sans-serif;
  font-family: "Rammetto One", sans-serif;
  font-family: "Changa One", sans-serif;
  font-family: "Carter One", system-ui;
  font-family: "Share Tech Mono", monospace;
  font-family: "Julius Sans One", sans-serif;
  font-family: "Tektur", sans-serif;
  font-family: "Chango", sans-serif;
  font-family: "Sarala", sans-serif;
  font-family: "Cabin Sketch", sans-serif;
  font-family: "Major Mono Display", monospace;
  font-family: "Tilt Neon", sans-serif;
  font-family: "Bungee Shade", sans-serif;
  font-family: "Supermercado One", sans-serif;
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Coiny", system-ui;
  font-family: "Saira Stencil One", sans-serif;
  font-family: "Frijole", system-ui;
  font-family: "Stick", sans-serif;
  font-family: "Trade Winds", system-ui;
  font-family: "Rubik Vinyl", system-ui;
  font-family: "Atomic Age", system-ui;
  font-family: "Rubik Scribble", system-ui;
  font-family: "Train One", system-ui;
  font-family: "Bruno Ace SC", sans-serif;
  font-family: "Rubik Glitch", system-ui;
  font-family: "Ribeye Marrow", serif;
  font-family: "Rubik Moonrocks", sans-serif;
  font-family: "Sixtyfour Convergence", sans-serif;
  font-family: "Tilt Prism", sans-serif;
  font-family: "Tourney", sans-serif;
  font-family: "Rubik Burned", system-ui;
  font-family: "Rubik Microbe", system-ui;
  font-family: "Rubik 80s Fade", system-ui;
  font-family: "Rubik Marker Hatch", system-ui;
*/
